package ${package_name}.controller;

import lombok.extern.slf4j.Slf4j;
import ${package_name}.common.base.BaseController;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

/**
 * ${model}Controller
 *  @author lyy
 *  @date ${ctime}
 */
@Slf4j
@Controller
@RequestMapping("/${modelLowerCase}")
public class ${model}Controller extends BaseController {

}