package ${package_name}.controller;

import lombok.extern.slf4j.Slf4j;
import ${package_name}.common.base.BaseController;
import io.swagger.annotations.Api;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

/**
 * ${model}Controller
 *  @author lyy
 *  @date ${ctime}
 */
@Slf4j
@Controller
@RequestMapping("/${modelLowerCase}")
@Api(value = "${model}控制器", description = "${model}管理")
public class ${model}Controller extends BaseController {

}