package ${package_name}.service.impl;

import lombok.extern.slf4j.Slf4j;
import ${package_name}.service.${model}Service;
import ${package_name}.mapper.${model}Mapper;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
* ${model}Service实现
*  @author lyy
*  @date ${ctime}
*/
@Slf4j
@Service
public class ${model}ServiceImpl implements ${model}Service {

    @Autowired
    ${model}Mapper ${mapper}Mapper;

}